	<link rel="stylesheet" href="{{asset('assetss/css/actif.css')}}">


	<div class="display" style="display: flex;">
		<div class="card-body table1 col-9" id="table-scroll1">
			<table id="actif" class="display text-center  table-hover " style="width: 100%">
				<thead>
					<tr>
						<th width="-5px">LIBELLE</th>
						<th></th>
						<th style="text-align: center;">BRUT</th>
						<th></th>
						<th style="text-align: center;">AMORT & PROVI</th>
						<th style="text-align: center;">NET</th>
						<th class="text-white h-25">NET</th>
						
						<th></th>
					</tr>
				</thead>
				<tbody id ="balanceactif">

					{% for activ in activs %}

						<tr id="click-first" {% if activ.Titre == 1 %} class="colorTr" {% endif %}{% if activ.Titre == 2 %} class="colorTe" {% endif %}}>
							<td style="text-align:start; width:40% !important;">{{ activ.Libelle }}</td>
							<td style="text-align: center; " id="posteactif">{{ activ.Poste }}</td>
							<td style="text-align: center;">
							<div class="showTable">

									{% set TotalA = 0 %}
									{% set TotalB = 0 %}
									{% set TotalC = 0 %}
									{% set TotalD = 0 %}
									{% set TotalE = 0 %}
									{% set TotalAE = 0 %}
									{% set TotalF = 0 %}
									{% set TotalG = 0 %}
									{% set TotalH = 0 %}
									{% set TotalI = 0 %}
									{% set TotalFI = 0 %}

									{% for s in activs %}

										{% if s.type == 'A' %}{% set TotalA = TotalA +  s.Exer1  %}{% endif %}
										{% if s.type == 'B' %}{% set TotalB = TotalB +  s.Exer1  %}{% endif %}
										{% if s.type == 'C' %}{% set TotalC = TotalC +  s.Exer1  %}{% endif %}
										{% if s.type == 'D' %}{% set TotalD = TotalD +  s.Exer1  %}{% endif %}
										{% if s.type == 'E' %}{% set TotalE = TotalE +  s.Exer1  %}{% endif %}
										{% set TotalAE =  TotalA + TotalB + TotalC + TotalD +  TotalE   %}
										{% if s.type == 'F' %}{% set TotalF = TotalF +  s.Exer1  %}{% endif %}
										{% if s.type == 'G' %}{% set TotalG = TotalG +  s.Exer1  %}{% endif %}
										{% if s.type == 'H' %}{% set TotalH = TotalH +  s.Exer1  %}{% endif %}
										{% if s.type == 'I' %}{% set TotalI = TotalI +  s.Exer1  %}{% endif %}
										{% set TotalFI =  TotalF + TotalG + TotalH + TotalI  %}
										
									{% endfor %}

									{% if activ.type == 'TA' %}{% if TotalA == 0 %}{% else %}{{ TotalA |number_format(2, ' , ' ,  '  ') }}{% endif %}{% else %}
									{% if activ.Exer1 == 0 %}{% else %}{{ activ.Exer1 |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %}
									{% if activ.type == 'TB' %}{% if TotalB == 0 %}{% else %}{{ TotalB |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %}
									{% if activ.type == 'TC' %}{% if TotalC == 0 %}{% else %}{{ TotalC |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %}
									{% if activ.type == 'TD' %}{% if TotalD == 0 %}{% else %}{{ TotalD |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %}
									{% if activ.type == 'TE' %}{% if TotalE == 0 %}{% else %}{{ TotalE |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %}
									{% if activ.type == 'TAE' %}{% if TotalAE == 0 %}{% else %}{{ TotalAE |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %}
									{% if activ.type == 'TF' %}{% if TotalF == 0 %}{% else %}{{ TotalF |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %}
									{% if activ.type == 'TG' %}{% if TotalG == 0 %}{% else %}{{ TotalG |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %} 
									{% if activ.type == 'TH' %}{% if TotalH == 0 %}{% else %}{{ TotalH |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %} 
									{% if activ.type == 'TI' %}{% if TotalI == 0 %}{% else %}{{ TotalI |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %} 
									{% if activ.type == 'TFI' %}{% if TotalFI == 0 %}{% else %}{{ TotalFI |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %} 

							</div>
							</td>
							<td style="text-align: center;" id="compte">{{ activ.Compte}}</td>
							<td style="text-align: center; ">
							<div class="showTable">

									{% set TotalA = 0 %}
									{% set TotalB = 0 %}
									{% set TotalC = 0 %}
									{% set TotalD = 0 %}
									{% set TotalE = 0 %}
									{% set TotalAE = 0 %}
									{% set TotalF = 0 %}
									{% set TotalG = 0 %}
									{% set TotalH = 0 %}
									{% set TotalI = 0 %}
									{% set TotalFI = 0 %}

									{% for s in activs %}

										{% if s.type == 'A' %}{% set TotalA = TotalA +  s.Exer2  %}{% endif %}
										{% if s.type == 'B' %}{% set TotalB = TotalB +  s.Exer2  %}{% endif %}
										{% if s.type == 'C' %}{% set TotalC = TotalC +  s.Exer2  %}{% endif %}
										{% if s.type == 'D' %}{% set TotalD = TotalD +  s.Exer2  %}{% endif %}
										{% if s.type == 'E' %}{% set TotalE = TotalE +  s.Exer2  %}{% endif %}
										{% set TotalAE =  TotalA + TotalB + TotalC + TotalD +  TotalE   %}
										{% if s.type == 'F' %}{% set TotalF = TotalF +  s.Exer2  %}{% endif %}
										{% if s.type == 'G' %}{% set TotalG = TotalG +  s.Exer2  %}{% endif %}
										{% if s.type == 'H' %}{% set TotalH = TotalH +  s.Exer2  %}{% endif %}
										{% if s.type == 'I' %}{% set TotalI = TotalI +  s.Exer2  %}{% endif %}
										{% set TotalFI =  TotalF + TotalG + TotalH + TotalI  %}
										
									{% endfor %}

									{% if activ.type == 'TA' %}{% if TotalA == 0 %}{% else %}{{ TotalA |number_format(2, ' , ' ,  '  ') }}{% endif %}{% else %}
									{% if activ.Exer2 == 0 %}{% else %}{{ activ.Exer2 |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %}
									{% if activ.type == 'TB' %}{% if TotalB == 0 %}{% else %}{{ TotalB |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %}
									{% if activ.type == 'TC' %}{% if TotalC == 0 %}{% else %}{{ TotalC |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %}
									{% if activ.type == 'TD' %}{% if TotalD == 0 %}{% else %}{{ TotalD |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %}
									{% if activ.type == 'TE' %}{% if TotalE == 0 %}{% else %}{{ TotalE |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %}
									{% if activ.type == 'TAE' %}{% if TotalAE == 0 %}{% else %}{{ TotalAE |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %}
									{% if activ.type == 'TF' %}{% if TotalF == 0 %}{% else %}{{ TotalF |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %}
									{% if activ.type == 'TG' %}{% if TotalG == 0 %}{% else %}{{ TotalG |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %} 
									{% if activ.type == 'TH' %}{% if TotalH == 0 %}{% else %}{{ TotalH |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %} 
									{% if activ.type == 'TI' %}{% if TotalI == 0 %}{% else %}{{ TotalI |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %} 
									{% if activ.type == 'TFI' %}{% if TotalFI == 0 %}{% else %}{{ TotalFI |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %} 
							</div>
							</td>
							<td style="text-align: end;">
								<div class="showTable">

									{% set TotalA = 0 %}
									{% set TotalB = 0 %}
									{% set TotalC = 0 %}
									{% set TotalD = 0 %}
									{% set TotalE = 0 %}
									{% set TotalAE = 0 %}
									{% set TotalF = 0 %}
									{% set TotalG = 0 %}
									{% set TotalH = 0 %}
									{% set TotalI = 0 %}
									{% set TotalFI = 0 %}
									{% set TotalK = 0 %}
									{% set TotalIII = 0 %}

									{% for s in activs %}

										{% if s.type == 'A' %}{% set TotalA = TotalA +  s.Total  %}{% endif %}
										{% if s.type == 'B' %}{% set TotalB = TotalB +  s.Total  %}{% endif %}
										{% if s.type == 'C' %}{% set TotalC = TotalC +  s.Total  %}{% endif %}
										{% if s.type == 'D' %}{% set TotalD = TotalD +  s.Total  %}{% endif %}
										{% if s.type == 'E' %}{% set TotalE = TotalE +  s.Total  %}{% endif %}
										{% set TotalAE =  TotalA + TotalB + TotalC + TotalD +  TotalE   %}
										{% if s.type == 'F' %}{% set TotalF = TotalF +  s.Total  %}{% endif %}
										{% if s.type == 'G' %}{% set TotalG = TotalG +  s.Total  %}{% endif %}
										{% if s.type == 'H' %}{% set TotalH = TotalH +  s.Total  %}{% endif %}
										{% if s.type == 'I' %}{% set TotalI = TotalI +  s.Total  %}{% endif %}
										{% set TotalFI =  TotalF + TotalG + TotalH + TotalI  %}
										{% if s.type == 'K' %}{% set TotalK = TotalK +  s.Total  %}{% endif %}
										{% set TotalIII =  TotalAE + TotalFI + TotalK  %}
										
									{% endfor %}

									{% if activ.type == 'TA' %}{% if TotalA == 0 %}{% else %}{{ TotalA |number_format(2, ' , ' ,  '  ') }}{% endif %}{% else %}
									{% if activ.Total == 0 %}{% else %}{{ activ.Total |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %}
									{% if activ.type == 'TB' %}{% if TotalB == 0 %}{% else %}{{ TotalB |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %}
									{% if activ.type == 'TC' %}{% if TotalC == 0 %}{% else %}{{ TotalC |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %}
									{% if activ.type == 'TD' %}{% if TotalD == 0 %}{% else %}{{ TotalD |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %}
									{% if activ.type == 'TE' %}{% if TotalE == 0 %}{% else %}{{ TotalE |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %}
									{% if activ.type == 'TAE' %}{% if TotalAE == 0 %}{% else %}{{ TotalAE |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %}
									{% if activ.type == 'TF' %}{% if TotalF == 0 %}{% else %}{{ TotalF |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %}
									{% if activ.type == 'TG' %}{% if TotalG == 0 %}{% else %}{{ TotalG |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %} 
									{% if activ.type == 'TH' %}{% if TotalH == 0 %}{% else %}{{ TotalH |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %} 
									{% if activ.type == 'TI' %}{% if TotalI == 0 %}{% else %}{{ TotalI |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %} 
									{% if activ.type == 'TFI' %}{% if TotalFI == 0 %}{% else %}{{ TotalFI |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %} 
									{% if activ.type == 'TK' %}{% if TotalK == 0 %}{% else %}{{ TotalK |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %}
									{% if activ.type == 'TAK' %}{% if TotalIII == 0 %}{% else %}{{ TotalIII |number_format(2, ' , ' ,  '  ') }}{% endif %}{% endif %}
								</div>
							</td>
							<td style="text-align: end;"></td>
							<td>
								{% if activ.Titre == 1 %}<i class="fas fa-plus colorTr"></i>{% endif %}
								{% if activ.Titre == 2 %}<i class="fas fa-plus colorTe"></i>{% endif %}
							</td>

						</tr>
					{% endfor %}
					
				</tbody>
			</table>
		</div>

		<div class="tableright col-3">

			<div class="table table-wrapper" id="table-cont">
				<div id="table-scroll">
					<table class="table table-hover table2 mt-1">
						<thead class="thead-light" id="thead"> 
							<tr> 
								<th scope="col" style="text-align: center;">Libelle</th>
								<th scope="col">Exercice N</th>
								<th scope="col">Exercice N-1</th>
							</tr>
						</thead>
						<tbody id="balanceTableactif"></tbody>
						<tfoot></tfoot>
					</table>
				</div>
			</div>

			<div class="table-wrapper">
				<div id="table-scroll">
					<table class="table table-hover table3 ">
						<thead class="thead-light" id="thead">
							<tr>
								<th scope="col" style="text-align: center;">Libelle</th>
								<th scope="col">Exercice N</th>
								<th scope="col">Exercice N-1</th>
							</tr>
						</thead>
						<tbody id="balanceTableactif1"></tbody>
					</table>
				</div>
			</div>
		</div>

		<script src="{{asset('assetss/js/actif.js')}}"></script>


